.header {
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #D6D6D6;
}

.header-row {
    display: flex;
    align-items: center;
}

.header-nav {
    font-weight: 500;
    color: #292929;
    margin-left: 172px;
}

.header-nav-list {
    display: flex;
    gap: 70px;
}

.header-nav-item-link {
    transition: color 0.2s ease-in;
}

.header-nav-item-link:hover {
    color: #01996D;
}

.header-login {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-left: auto;
}

.header-login-link {
    transition: color 0.2s ease-in;
}

.header-login-link:hover {
    color: #01996D;
}

.header-login-button {
    color: #fff !important;
    padding-top: 13px;
    padding-bottom: 13px;
}